header#header.l-header.p-header
  .l-container
    h1#site-title.l-header__site-title(lang="en") Slider Sample
    nav.l-header__nav.p-header__nav
      ul.l-header__nav-list.p-header__nav-list
        each val in ['Top', 'About Us', 'Contact']
          li.l-header__nav-item.p-header__nav-item(lang="en")= val