header#header.l-header.p-header
  .l-container
    h1#site-title.l-header__site-title(lang="en") 
      img.p-header__logo(src="../images/Or-Ikeda_symbol.svg" width="36px" height="36px")
      span.p-header__title-text Slider Sample
    nav.l-header__nav.p-header__nav
      ul.l-header__nav-list.p-header__nav-list
        li.l-header__nav-item.p-header__nav-item(lang="en")
          a(href="/") Top
        li.l-header__nav-item.p-header__nav-item(lang="en")
          a(href="https://github.com/bugalu/sample-site-011_slider") Code
        li.l-header__nav-item.p-header__nav-item(lang="en")
          a(href="https://or-ikeda.net/contact/") Contact
