extends layouts/base.pug
block contents
  main.l-main.l-container
    .slider-container
      .slider-frame#slider-frame
        .slider-wrapper#slider-wrapper
          .slider-item
            p.slider-text 1
            img(src="images/photo1.jpg" width="800" height="534")
          .slider-item
            p.slider-text 2
            img(src="images/photo2.jpg" width="800" height="534")
          .slider-item
            p.slider-text 3
            img(src="images/photo3.jpg" width="800" height="534")
          .slider-item
            p.slider-text 4
            img(src="images/photo4.jpg" width="800" height="534")
        .sliderPause#sliderPause 写真をクリックするとスライドを再開します
      .slider-controls
        button.slider-button.prev#prev &Leftarrow;
        button.slider-button.next#next &Rightarrow;
    section.l-section
      h2 このページについて
      p Web制作の勉強の為に作成したサンプルページです。一般的に使われることが多い
        i jQuery
        |や
        i
          a(href="https://swiperjs.com/") Swiper
        | などの、ライブラリ、プラグインを使わず、HTML、CSS、JavaScriptだけでコンテンツスライダーを作ってみる事を目的として作成しました。
    section.l-section
      h2 使用画像について
      p 函館市観光部が提供くださっている無料ライブラリー
        a(href="https://www.hakobura.jp/photo_library/") 「函館観光画像ライブラリー」
        | の画像を使用しました。